@model InvoiceTest2.Models.JobCard

@{
    ViewBag.Title = "Invoice";
}

<h2>INVOICE</h2>

<div>
    <h4>JobCard</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PartsUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartsUsed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FeesIncluded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FeesIncluded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>


